## Aynı gün birden fazla kitap okuduysam, okuduğum sayfaları toplayıp "day_total_pages" olarak yeni değişken oluşturalım.

In [2]:
%run ../1_Analyzing_and_Manipulating_the_data/4_Yeni_degisken_reading_time.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              35 non-null     datetime64[ns]
 1   start_time        35 non-null     object
 2   finish_time       35 non-null     object
 3   writer            35 non-null     object
 4   book              35 non-null     object
 5   kind              35 non-null     object
 6   start_page        32 non-null     float64
 7   finish_page       32 non-null     float64
 8   summary_size      32 non-null     float64
 9   is_section_liked  35 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 2.9+ KB

---

### Öncelikle, bu işlemi yaptığımız zaman kopya satırlar oluşuyor, bunu henüz çözemedim.

---

İlk olarak işlemi kafa karışıklığı olmadan yapmak için verisetinin bu kısmını alıp ayrı bi dataframe yapalım.

In [5]:
df2 = pd.DataFrame({'date': df["date"],
                    'read_pages': df["read_pages"]})

df2

         date  read_pages
0  2020-05-03          23
1  2020-03-09          36
2  2020-03-11          30
3  2020-03-11          23
4  2020-03-22          28
5  2020-03-27          24
6  2020-03-31          18
7  2020-04-12          21
8  2020-05-18           9
9  2020-05-18          11
10 2020-05-20           4
11 2020-05-20           9
12 2020-05-24          11
13 2020-05-24          14
14 2020-05-25          18
15 2020-05-25          26
16 2020-05-26          10
17 2020-05-26          27
18 2020-06-04           0
19 2020-06-05           0
20 2020-06-06           0
21 2020-06-08           2
22 2020-06-08          35
23 2020-06-09          29
24 2020-06-11          46
25 2020-06-12          57
26 2020-06-13          14
27 2020-06-13          43
28 2020-06-14          36
29 2020-06-14          23
30 2020-06-15          43
31 2020-06-16          37
32 2020-06-16          19
33 2020-06-17          16
34 2020-06-17          46

---
Şimdi aşağıdaki kod ile aynı gün olan değerleri toplayalım.

In [12]:
df3 = df2.groupby("date").sum()
df3

            read_pages
date
2020-03-09          36
2020-03-11          53
2020-03-22          28
2020-03-27          24
2020-03-31          18
2020-04-12          21
2020-05-03          23
2020-05-18          20
2020-05-20          13
2020-05-24          25
2020-05-25          44
2020-05-26          37
2020-06-04           0
2020-06-05           0
2020-06-06           0
2020-06-08          37
2020-06-09          29
2020-06-11          46
2020-06-12          57
2020-06-13          57
2020-06-14          59
2020-06-15          43
2020-06-16          56
2020-06-17          62

---
Şimdi ikisini "date"e bağlı olarak birleştirelim.

In [13]:
df4 = pd.merge(df2,df3, on="date")
df4

         date  read_pages_x  read_pages_y
0  2020-05-03            23            23
1  2020-03-09            36            36
2  2020-03-11            30            53
3  2020-03-11            23            53
4  2020-03-22            28            28
5  2020-03-27            24            24
6  2020-03-31            18            18
7  2020-04-12            21            21
8  2020-05-18             9            20
9  2020-05-18            11            20
10 2020-05-20             4            13
11 2020-05-20             9            13
12 2020-05-24            11            25
13 2020-05-24            14            25
14 2020-05-25            18            44
15 2020-05-25            26            44
16 2020-05-26            10            37
17 2020-05-26            27            37
18 2020-06-04             0             0
19 2020-06-05             0             0
20 2020-06-06             0             0
21 2020-06-08             2            37
22 2020-06-08            35            37
23 2020-06-09            29            29
24 2020-06-11            46            46
25 2020-06-12            57            57
26 2020-06-13            14            57
27 2020-06-13            43            57
28 2020-06-14            36            59
29 2020-06-14            23            59
30 2020-06-15            43            43
31 2020-06-16            37            56
32 2020-06-16            19            56
33 2020-06-17            16            62
34 2020-06-17            46            62

read_pages_y sütunu bizim için day_total_pages anlamına geliyor.

Onu orjinal verisetimize sütun olarak ekleyelim.

In [14]:
df["day_total_pages"] = df4["read_pages_y"]
df.head()

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked,read_pages,reading_time,day_total_pages
0,2020-05-03,15:00:00,15:45:00,J.P. Sartre,Bulanti,felsefik,15,38,68,True,23,45,23
1,2020-03-09,17:00:00,18:00:00,J.P. Sartre,Bulanti,felsefik,39,75,73,True,36,60,36
2,2020-03-11,19:00:00,20:00:00,J.P. Sartre,Bulanti,felsefik,75,105,50,True,30,60,53
3,2020-03-11,20:10:00,20:40:00,Thomas More,Utopya,utopik,3,26,91,True,23,30,53
4,2020-03-22,18:00:00,19:00:00,J.P. Sartre,Bulanti,felsefik,106,134,27,True,28,60,28

### Görüldüğü gibi, aynı gün içinde okunan toplam kitap sayfası gözüküyor ancak 2ve3. indexlerde olduğu gibi çifte oluyor, bunu nasıl çözeceğimi henüz bilmiyorum.