## Aynı gün birden fazla kitap okuduysam, okuduğum süreleri toplayıp "day_total_time" olarak yeni değişken oluşturalım.

In [1]:
%run ../1_Analyzing_and_Manipulating_the_data/5_Yeni_degisken_day_total_pages.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   date              35 non-null     datetime64[ns]
 1   start_time        35 non-null     object
 2   finish_time       35 non-null     object
 3   writer            35 non-null     object
 4   book              35 non-null     object
 5   kind              35 non-null     object
 6   start_page        32 non-null     float64
 7   finish_page       32 non-null     float64
 8   summary_size      32 non-null     float64
 9   is_section_liked  35 non-null     int64
dtypes: datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 2.9+ KB

 ## day_total_pages'deki işlemlerin aynısını yapacağım.

In [3]:
df10 = pd.DataFrame({'date': df["date"],
                    'reading_time': df["reading_time"]})

df10

         date  reading_time
0  2020-05-03            45
1  2020-03-09            60
2  2020-03-11            60
3  2020-03-11            30
4  2020-03-22            60
5  2020-03-27            60
6  2020-03-31            30
7  2020-04-12            40
8  2020-05-18            45
9  2020-05-18             0
10 2020-05-20             0
11 2020-05-20             0
12 2020-05-24            30
13 2020-05-24            30
14 2020-05-25            60
15 2020-05-25            30
16 2020-05-26            20
17 2020-05-26            60
18 2020-06-04            60
19 2020-06-05            30
20 2020-06-06            30
21 2020-06-08             5
22 2020-06-08            60
23 2020-06-09            80
24 2020-06-11           120
25 2020-06-12           120
26 2020-06-13            30
27 2020-06-13            60
28 2020-06-14            60
29 2020-06-14            30
30 2020-06-15            60
31 2020-06-16            60
32 2020-06-16            30
33 2020-06-17            30
34 2020-06-17            70

In [4]:
df11 = df10.groupby("date").sum()
df11

            reading_time
date
2020-03-09            60
2020-03-11            90
2020-03-22            60
2020-03-27            60
2020-03-31            30
2020-04-12            40
2020-05-03            45
2020-05-18            45
2020-05-20             0
2020-05-24            60
2020-05-25            90
2020-05-26            80
2020-06-04            60
2020-06-05            30
2020-06-06            30
2020-06-08            65
2020-06-09            80
2020-06-11           120
2020-06-12           120
2020-06-13            90
2020-06-14            90
2020-06-15            60
2020-06-16            90
2020-06-17           100

In [5]:
df12 = pd.merge(df10,df11, on="date")
df12

         date  reading_time_x  reading_time_y
0  2020-05-03              45              45
1  2020-03-09              60              60
2  2020-03-11              60              90
3  2020-03-11              30              90
4  2020-03-22              60              60
5  2020-03-27              60              60
6  2020-03-31              30              30
7  2020-04-12              40              40
8  2020-05-18              45              45
9  2020-05-18               0              45
10 2020-05-20               0               0
11 2020-05-20               0               0
12 2020-05-24              30              60
13 2020-05-24              30              60
14 2020-05-25              60              90
15 2020-05-25              30              90
16 2020-05-26              20              80
17 2020-05-26              60              80
18 2020-06-04              60              60
19 2020-06-05              30              30
20 2020-06-06              30              30
21 2020-06-08               5              65
22 2020-06-08              60              65
23 2020-06-09              80              80
24 2020-06-11             120             120
25 2020-06-12             120             120
26 2020-06-13              30              90
27 2020-06-13              60              90
28 2020-06-14              60              90
29 2020-06-14              30              90
30 2020-06-15              60              60
31 2020-06-16              60              90
32 2020-06-16              30              90
33 2020-06-17              30             100
34 2020-06-17              70             100

In [7]:
df["day_total_time"] = df12["reading_time_y"]
df.head()

,date,start_time,finish_time,writer,book,kind,start_page,finish_page,summary_size,is_section_liked,read_pages,reading_time,day_total_pages,day_total_time
0,2020-05-03,15:00:00,15:45:00,J.P. Sartre,Bulanti,felsefik,15,38,68,True,23,45,23,45
1,2020-03-09,17:00:00,18:00:00,J.P. Sartre,Bulanti,felsefik,39,75,73,True,36,60,36,60
2,2020-03-11,19:00:00,20:00:00,J.P. Sartre,Bulanti,felsefik,75,105,50,True,30,60,53,90
3,2020-03-11,20:10:00,20:40:00,Thomas More,Utopya,utopik,3,26,91,True,23,30,53,90
4,2020-03-22,18:00:00,19:00:00,J.P. Sartre,Bulanti,felsefik,106,134,27,True,28,60,28,60

## Aynı day_total_pages'teki gibi kopya satırlar oluştu ama henüz çözümü bilmiyorum.